/** css 변수 **/
:root {
    --color-dark-blue: #00072D;
    --color-dark-light-blue: #001C55;
    --color-blue: #0A2472;
    --color-light-dark-blue: #2E4052;
    --color-light-blue: #A6E1FA;

    --color-tea-green: #BDD9BF;
    --color-charcoal: #2E4052;
    --color-sunglow: #FFC857;
    --color-dark-purple: #412234;
    --color-form-background-color: #f7f8ff;
}
/** 로그인 css **/
/** 아이디 비밀번호 찾기 css **/
.login-form,
.find-id-pw-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-form-background-color);
}
.login-form > .login-title,
.find-id-pw-form > .find-id-pw-title{
    font-size: 25px;
    font-weight: bold;
    color: var(--color-charcoal);
    margin-bottom: 30px;
}
.login-form > fieldset,
.find-id-pw-form > fieldset{
    padding: 40px 20px 20px 20px;
    border: 1px solid var(--color-dark-blue);
    text-align: center;
    width: 310px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.login-form > fieldset > input,
.find-id-pw-form > fieldset > input{
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
}
.login-form > fieldset > button,
.find-id-pw-form > fieldset > button{
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
}
.find-result-text {
    margin-bottom: 20px;
    text-align: left;
    line-height: 30px;
}

/** 회원가입 css **/
.register-form{
    padding: 60px 100px 150px 100px;
    font-size: 14px;
    background-color: var(--color-form-background-color);
}
.register-form > .register-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: var(--color-charcoal);
}
.register-form > fieldset {
    width: 100%;
    margin: 30px 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.register-form > fieldset > section:first-child {
    border-top: 1px solid var(--color-dark-blue);
}
.register-form > fieldset > section {
    border-left: 1px solid var(--color-dark-blue);
    border-right: 1px solid var(--color-dark-blue);
}
.register-form > fieldset > section > .register-sub-title {
    padding : 10px;
    border-bottom: 1px solid var(--color-dark-blue);
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: var(--color-light-dark-blue);
}
.register-form > fieldset > section > div > .register-row {
    padding : 10px;
    border-bottom: 1px solid var(--color-dark-blue);
    background-color: white;
}
.register-form > fieldset > section > div > div > textarea{
    width: 100%;
    height: 200px;
    padding: 30px;
}
.register-form > fieldset > section > div > .register-row > .register-input-label {
    width: 130px;
    display: inline-block;
}

.regi-address-form {
    display:inline-block;
    width: calc(100% - 140px);
}
.regi-address-row {
    margin-bottom: 10px;
}
.regi-address-row:last-child {
    margin-bottom: 0;
}

/** 레이아웃 css **/
.layout-container {
    width: 100%;
    display: flex;
    min-height: 500px;
}

/** 레이아웃 - 네비게이션바 메뉴 **/
.layout-container > .layout-left-menu{
    transition-duration: 0.5s;
    transition-property: width;
    display: inline-block;
    height: 100%;
    border-right:1px solid var(--color-charcoal);
    color: var(--color-dark-blue);
    font-weight: bold;
    width: 200px;
    min-height: 800px;
}
.layout-top-menu{
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
}
.layout-top-menu > ul > .layout-sub-menu{
    color: var(--color-charcoal);
    width: 200px;
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: normal;
}
.layout-top-menu > ul > .layout-sub-menu:hover{
    cursor: pointer;
    color: var(--color-blue);
    font-weight: bold;
}
.layout-container > section {
    display: inline-block;
    width: calc( 100% - 200px);
    min-height: 800px;
    background-color: var(--color-form-background-color);
}
/** 레이아웃 - 헤더 **/
.layout-header{
    display: flex;
    height: 80px;
    border-bottom: 3px solid var(--color-sunglow);
    justify-content: space-between;
    background-color: var(--color-charcoal);
}
.layout-header > .layout-header-left,
.layout-header > .layout-header-right
{
    line-height: 80px;
    display: flex;
}
.layout-header > .layout-header-left > .layout-header-title {
    color: var(--color-charcoal);
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    border-right: 8px double var(--color-charcoal);
    padding-right : 80px;
    padding-left : 40px;
    background-color:white;
}
.layout-header > .layout-header-left > .layout-header-menu-open {
    padding-left: 20px;
}
.layout-header > .layout-header-left > .layout-header-menu-open > i{
    line-height: 80px;
    color: white;
    font-size: 28px;
}
.layout-header > .layout-header-left > .layout-header-menu-open > i:hover{
    cursor: pointer;
    font-weight: bold;
    color: var(--color-sunglow);
}
.layout-header > .layout-header-right > .layout-header-userinfo {
    width: 80px;
    text-align: center;
    margin-top: 20px;
    border-radius: 50%;
}
.layout-header-userinfo,
.layout-header-userinfo > img{
    text-align: center;
    line-height: 80px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.layout-header-userinfo-popup {
    position: absolute;
    right:20px;
    background-color:white;
    top: 70px;
    border: 1px solid var(--color-dark-purple);
    border-radius: 4px;
    font-size:14px;
    display: none;
}
.layout-header-userinfo-popup > ul > li{
    padding: 7px 20px;
}
.layout-header-userinfo-popup > ul > li:first-child{
    border-bottom: 1px solid var(--color-dark-purple);
}
.layout-header-userinfo-popup > ul > li:hover {
    font-weight: bold;
    cursor: pointer;
}

/** 레이아웃 - 푸터 **/
.layout-footer{
    border-top: solid 1px  var(--color-charcoal);
    text-align: right;
    font-weight: bold;
    font-size: 13px;
    height: 40px;
    line-height: 40px;

}

/** 레이아웃 컨텐츠 (body) **/
.layout-content{
    padding: 30px;
}
.layout-content > .layout-content-title{
    margin: 10px 0 20px 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-charcoal);
}
.layout-card {
    padding: 20px;
    border-radius: 3px;
    border: 1px solid  var(--color-charcoal);
    background-color: white;
}
.layout-content-page-go-button {
    padding: 20px;
    border-radius: 5px;
    width: 100%;
}
.layout-row{
    display:flex;
    width: 100%;
    border-top: 1px solid var(--color-charcoal);
}
.layout-row:last-child{
    border-bottom: 1px solid var(--color-charcoal);
}
.layout-row > .layout-col-head {
    padding: 5px 10px;
    background-color: var(--color-form-background-color);
    color: var(--color-charcoal);
    font-weight: bold;
    width: 100px !important;
}
.layout-row > input[type=text]{
    height: 30px;
    margin-top: 3px;
    margin-left: 5px;
}
.layout-row > .layout-col {
    padding: 10px;
}
.myPage-left {
    width: 300px;
    margin-right: 20px;
}
.myPage-right {
    width: calc( 100% - 300px );
}
.myPage-image > img {
    border: 1px solid var(--color-charcoal);
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
/** 공통 css **/
input[type='checkbox']{
    display: none;
}
strong{
    color:red;
}
input {
    padding : 5px;
    color: var(--color-charcoal);
}
select {
    padding : 5px;
}
button {
    border-radius: 3px;
    border: none;
    padding : 5px 13px;
    font-weight: bold;
    background-color: var(--color-light-dark-blue);
    color: white;
}
button:hover {
    background-color: var(--color-sunglow);
    cursor: pointer;
    color:black;
}

.layout-table{
    overflow-x: auto;
}
.layout-table > table{
    width:100%; min-width: 1000px; max-height: 400px;
}
.layout-table > table > thead > tr > th{
    background-color: var(--color-charcoal);
    color: white;
    font-weight: bold;
    padding: 10px;
}
.layout-table > table > tbody > tr > td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid var(--color-charcoal);
}

.layout-search-bar {
    overflow-x: auto;
}
.layout-search-bar > .search-bar-item1 {
    min-width: 235px;
}
.layout-search-bar > .search-bar-item2 {
    min-width: 470px;
}
.layout-search-bar > .search-bar-item3 {
    min-width: 705px;
}
.layout-search-bar > .search-bar-item4 {
    min-width: 1000px;
}
.layout-search-bar > div > .search-bar-item {
    font-weight: bold;
    color: var(--color-charcoal);
    margin-right: 20px;
}
.layout-search-bar > div >  .search-bar-item > input{
    margin-left: 10px;
    border: 1px solid var(--color-charcoal);
    border-radius: 5px;
    padding : 6px;
    width: 150px;
}

.width50 {width: 50px;}
.width60 {width: 60px;}
.width70 {width: 70px;}
.width80 {width: 80px;}
.width90 {width: 90px;}
.width100 { width: 100px;}
.width110 { width: 110px;}
.width120 { width: 120px;}
.width130 { width: 130px;}
.width140 { width: 140px;}
.width150 { width: 150px;}
.width160 { width: 160px;}
.width170 { width: 170px;}
.width180 { width: 180px;}
.width190 { width: 190px;}
.width200 { width: 200px;}
.width210 { width: 210px;}
.width220 { width: 220px;}
.width230 { width: 230px;}
.width240 { width: 240px;}
.width240 { width: 240px;}
.width500 { width: 500px;}
.width100p { width: 100%;}
.width50p { width: 50%;}
.width25p { width: 25%;}
.width12p { width: 12.5%;}
.shadow { box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);}
.display-block { display: block; }
.display-flex { display: flex }
.display-none { display: none; }
.display-inline-block { display: inline-block; }
.gap10 { gap: 10px; }
.mgt10 { margin-top: 10px;}
.mgt20 { margin-top: 20px;}
.mgb10 { margin-bottom: 10px;}
.mgl10 { margin-left: 10px;}
.mgr10 { margin-right: 10px;}
.mgl-auto { margin-left: auto; }
.flex-end { justify-content: end;}
.text-align { text-align: left;}
.tar { text-align: right !important;}
.tal { text-align: left !important;}
.tac { text-align: center !important;}
.cur-pointer { cursor: pointer;}

.float-right { float:right; }
.vertical-align-top{ vertical-align: top;}

/* (체크박스, 텍스트) 정렬 맞추기 */
.checkbox_label, .radio_label{
    display: inline-block;
}

/* 체크박스 디자인 */
.checkbox_icon::before,
.radio_icon::before{
    content:'';
    display: inline-block;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid #9da3a5;
    box-sizing:border-box;
    position: relative;
    cursor: pointer;
}
.radio_icon::before {
    border-radius: 50px;
}
/* checked */
.checkbox_label input:checked + .checkbox_icon::before,
.radio_label input:checked + .radio_icon::before{
    background: url(https://intranet.adef.co.kr/asset/images/ic_check.png) var(--color-light-dark-blue)
    no-repeat center;
    border:none;
}

/* 모바일 해상도 */

@media all and (max-width:900px) {
    .myPage-left {
        width: 100%;
        margin-bottom : 20px;
    }
    .myPage-right {
        width: 100%;
    }
    .myPage-image > img {
        width: 200px;
        height: 200px;
    }
}
@media all and (max-width:700px) {
    .layout-header-title {
        display: none;
    }
    .layout-left-menu {
        display: none !important;
    }
    .layout-container > section {
        width: 100%;
    }
    .layout-content-item{
        width: auto;
    }
    .layout-content > .flex-column {
        flex-direction: column;
    }
}